@font-face {
	font-family: "GothamBook";
	src: url("fonts/gotham/GothamBook.woff2") format("woff2"),
		/* Super Modern Browsers */ url("fonts/gotham/GothamBook.woff")
			format("woff"),
		/* Pretty Modern Browsers */ url("fonts/gotham/GothamBook.ttf")
			format("truetype"); /* Safari, Android, iOS */
}

:root {
	--bg: #121212;
	--bg2: #040404;
	--bg3: #282828;
	--font: #eee;
	--accent: #1D54B9;
	--accent2: #1DB954;
}

html {
	scroll-behavior: smooth;
	height: 100%;
}

body {
	background-color: var(--bg);
	color: var(--font);
	font-size: 1rem;
}

textarea {
    font-family: "GothamBook", sans-serif;
    background: var(--bg3);
    color: var(--font);
    width: 90%;
	border: none;	
	font-size: 1rem;
	margin: 1rem auto;	
	padding: 1vw;
	outline: none;
}

textarea:focus{
	border-bottom: solid var(--accent);
}

button:hover, button:focus, input:focus{
	border-bottom: solid var(--accent2);
	outline: none;
}

input, button {
	font-family: "GothamLight", sans-serif;
	color: var(--font);
	background: var(--bg);
	text-transform: uppercase;
	color: var(--font);
	border: none;
	border-bottom: solid var(--accent);
	margin: auto;
	padding: 0.4rem 1rem;
}

input[type='number']{
	width: 5rem;
}

button {
    
}